{% extends "layout.html" %}
{% block body_content %}


<h1>Welcome to Podcast Scheduler</h1>
<p>Your Scheduled Podcasts and Topic</p>
{% for podcast in podcasts %}


<p>{{ podcast.podcast_title }}</p> 
{{ podcast.podcast_detail }}
{% for episode in podcast.episode %}
{{ episode.topic_title }} {{ episode.topic_desc }}



<form method="POST" action="{{ url_for('updatetopics', id=episode.id) }}">
	<button type="submit">Update</button>


</form>
<form action="{{ url_for('topic_delete') }}">
	<button type="submit">Delete Episode</button>


</form>
{% endfor %}
{% endfor %}
{% endblock %}

