{% extends "layout.html" %}
{% block body_content %}


<h1>Welcome to Podcast Scheduler</h1>
<h2>Your Scheduled Podcasts and Topic</h2>
{% for podcast in podcasts %}


<h3>{{ podcast.podcast_title }}</h3> 
<p>{{ podcast.podcast_detail }}</p>
{% for episode in podcast.episode %}
{{ episode.topic_title }} 
{{ episode.topic_desc }}



<form method="POST" action="{{ url_for('updatetopics', id=episode.id) }}">
	<button type="submit">Update</button>


</form>
<form action="{{ url_for('topic_delete', id=episode.id) }}">
	<button type="submit">Delete Episode</button>


</form>
{% endfor %}
{% endfor %}
{% endblock %}

